# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
.coverage.*
.cache
htmlcov/
.pyre/
.pytype/
celerybeat-schedule
.env
.envrc

# Node
node_modules/
/npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Logs
*.log

# Misc
*.sqlite3
*.sqlite3-journal
